# Code owners — requested for review on every PR by default.
# https://docs.github.com/en/repositories/managing-your-repositories-settings-and-features/customizing-your-repository/about-code-owners
* @erovelli
